- provide :page_header, 'Meetings'

markdown:

  ScotLUG meets every last Thursday of the month at the [Electron Club](http://www.electronclub.org/doku.php).  Meetings are open to anyone and free to attend: there is no need to register, just turn up!

  People gather and meet in the Electron Club at around 19:00, and talks start at 19:30. We move across to the CCA Terrace Bar at around 21:00.

  ## Location

  **Electron Club**, [CCA, 350 Sauchiehall Street, Glasgow, G2 3JD](https://www.openstreetmap.org/way/60085920)

= map center: { latlng: [55.8656, -4.265], zoom: 17 }, markers: [{ latlng: [55.86575, -4.26485] }]

markdown:

  ## Past Events

  A list of previous meetings can be found on the old [ScotLUG wiki](http://www.scotlug.org.uk/wiki/Meetings).
