.jumbotron
  h1 <small>Welcome to</small> ScotLUG!
  p This is the official site for the <strong>Scottish Linux User Group</strong> in Glasgow.  Take a look below to find our meets, how to talk with us, and other LUGs in Scotland.
h2 Meetings
p Meetings are held at 19:00, every last Thursday of the month, at the #{link_to 'Electron Club', 'http://www.electronclub.org/doku.php'}.  Check out our past meetings, what’s on this month, and what might be coming up on our #{link_to 'meetings', meetings_path} page.
h2 Media
p ScotLUG usually uses the #{link_to 'Scottish Tux', image_path('scottish_tux.svg')} to refer to itself.
h2 Communication
p Our IRC channel, #{link_to '#scotlug', 'https://webchat.freenode.net/?randomnick=1&channels=%23scotlug&prompt=1'}, is usually busy and helpful.  There is a #{link_to 'mailing list', 'http://mailman.lug.org.uk/mailman/listinfo/scottish'} for general announcements.
h2 Other Linux User Groups
p In addition to Glasgow, #{link_to 'Falkirk', 'https://plus.google.com/115476628113417487323'} and #{link_to 'Edinburgh', 'http://www.edlug.org.uk/'} both have active Linux User Groups.  The #{link_to 'UK Linux User Groups organisation', 'https://lug.org.uk'} has a list of other #{link_to 'user groups across Scotland', 'https://lug.org.uk/lugs/scotland'}.
